<div class="header-container">
    <nav>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>

        <!-- Ensure this matches the 'students' route for admin -->
        {% if session.get('admin_logged_in') %}
            <a href="{{ url_for('admin_dashboard') }}">Students</a>
            <a href="{{ url_for('admin_logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('admin_login') }}">Admin Login</a>
        {% endif %}
    </nav>
</div>
